@charset "UTF-8";
/* Création du loader */
.loading {
  background-color: #e4d5f6;
  opacity: 0.9;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  animation: time 200ms forwards;
  animation-delay: 3s;
  transform-origin: middle;
}

.loader {
  border-top: 10px solid #9356DC;
  border-left: 10px solid #FF79DA;
  border-bottom: 10px solid #99E2D0;
  border-right: 10px solid grey;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite forwards;
  /* Placement du loader au milieu de la page */
  margin: auto;
  position: absolute;
  inset: 0;
}

/* coeur au survol */
.card-menu__heart {
  position: relative;
}

.heart-empty {
  font-size: x-large;
  position: absolute;
  right: 20px;
  top: 10px;
  color: grey;
}

.heart-full {
  font-size: x-large;
  position: absolute;
  right: 20px;
  top: 10px;
  color: transparent;
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 500ms ease-in-out;
}
.heart-full:hover {
  opacity: 1;
}

/* Animations */
/* Animation du loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes time {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* Animation du menu */
@keyframes menu-animation {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(1);
    opacity: 1;
  }
}
/* Animation de l'encoche */
@keyframes check-animation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
/* Declaration initiale */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  /* box-sizing est appliqué à tous les éléments */
}

@media screen and (max-width: 767px) {
  body {
    background: #f6f6f6;
    font-family: "Roboto", sans-serif;
    width: auto;
    overflow-x: hidden;
    margin: 0px;
  }
  /* Bloc logo + recherche ville */
  .logo {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  img {
    width: 50%;
    height: auto;
  }
  .bloc-grey {
    height: auto;
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 10px;
  }
  #icone-gps {
    display: inline-block;
    text-align: center;
    margin-left: 19.5vw;
    margin-right: 13px;
    font-size: 22px;
  }
  #champs-recherche {
    border: 0px;
    background: #eaeaea;
    font-size: 22px;
  }
  /* En-tête */
  h1 {
    color: black;
    text-align: center;
    font-size: 33px;
    margin: 0px;
    padding-top: 12.27vw;
  }
  .intro {
    text-align: center;
    font-size: 20px;
    margin: 18px 20px;
  }
  .top-part {
    height: auto;
    padding-bottom: 40px;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .anim {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    border: none;
    box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.33);
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }
  button:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
  .explorer {
    width: auto;
    border: 0px;
    padding: 19px 25px;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    color: #ffffff;
    border-radius: 35px;
    font-size: 20px;
  }
  /* Partie Fonctionnement */
  .function-part {
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
  }
  h2 {
    color: black;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 50px;
  }
  .btn-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    text-decoration: none;
  }
  .circle {
    background-color: #9356DC;
    color: white;
    border-radius: 14px;
    height: 28px;
    width: 28px;
    text-align: center;
    padding-top: 5px;
    font-weight: lighter;
    position: absolute;
    left: 7%;
    font-size: smaller;
  }
  .fa-solid {
    margin: 0px;
    color: grey;
  }
  .btn-function {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 64px;
    width: 80%;
    padding: 17px;
    background: #f6f6f6;
    color: black;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 2px 2px 10px 2px rgb(220, 217, 217);
  }
  .btn-function:hover {
    background-color: #e4d5f6;
  }
  .btn-function:hover i {
    color: #9356DC;
  }
  /* Partie Restaurant */
  .restaurant-part {
    height: auto;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
  }
  .card-menu {
    background-color: white;
    height: auto;
    border-radius: 16px;
    padding-bottom: 20px;
    margin: 20px;
    box-shadow: 2px 2px 10px 2px rgb(220, 217, 217);
  }
  .card-menu .card-menu__top {
    display: flex;
  }
  .card-menu .card-menu__top .card-menu__image {
    width: 100%;
    height: 45.9vw;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
  }
  .new {
    background-color: #99E2D0;
    display: flex;
    height: 30px;
    align-items: center;
    padding: 10px;
    color: #32b091;
    position: absolute;
    right: 9%;
    margin-top: 10px;
  }
  .card-menu__bottom {
    margin: 12px;
    display: flex;
    justify-content: space-between;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h3 {
    color: black;
    margin: 0px;
  }
  .card-menu__byline {
    color: grey;
    text-align: left;
    margin: 0px;
    font-size: 19px;
  }
}
@media screen and (max-width: 767px) {
  /* Bloc logo*/
  .logo {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* En-tête */
  .main-menu {
    height: auto;
    background: #f6f6f6;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    top: 250px;
    padding-bottom: 30px;
  }
  .top-part-menu {
    display: block;
    position: absolute;
    justify-content: center;
  }
  .title-page-menu {
    color: black;
    font-family: "Shrikhand";
    font-size: 33px;
    padding: 13px 0px 0px 26px;
  }
  .rectangle-1 {
    animation: menu-animation 2s 200ms;
    animation-fill-mode: both;
  }
  .rectangle-2 {
    animation: menu-animation 2s 400ms;
    animation-fill-mode: both;
  }
  .rectangle-3 {
    animation: menu-animation 2s 600ms;
    animation-fill-mode: both;
  }
  .rectangle-4 {
    animation: menu-animation 2s 800ms;
    animation-fill-mode: both;
  }
  p.title-plate {
    font-size: 18px;
    margin: 5px 0px 0px 5px;
    font-weight: bold;
  }
  p.subtitle {
    font-size: 16px;
    margin: 5px 0px 0px 5px;
  }
  h3.title-plate {
    border-bottom: solid 3px #99E2D0;
    width: 10%;
    padding-bottom: 5px;
  }
  .title-plate {
    font-weight: lighter;
    margin-left: 24px;
    margin-top: 20px;
  }
  /* TEST*/
  .menu__global {
    margin-top: 19px;
    margin-left: 20px;
    width: 90%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 2px rgba(220, 217, 217, 0.5);
  }
  .menu__block {
    background-color: white;
    display: flex;
    overflow: hidden;
  }
  .menu__block:hover .check {
    margin-right: 0px;
  }
  .menu__block:hover i {
    animation: check-animation 500ms ease-in-out;
  }
  .menu__block-description {
    padding: 1rem;
    overflow: hidden;
  }
  .menu__block-description h3, .menu__block-description p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px;
  }
  .menu__block-right {
    display: flex;
    margin-left: auto;
  }
  .menu__price {
    display: flex;
    align-items: flex-end;
    font-weight: 900;
    margin: 0px;
    padding: 1rem;
  }
  .check {
    background-color: #99E2D0;
    margin-right: -55px;
    width: 55px;
    border-radius: 0px 15px 15px 0px;
    transition: margin-right 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fa-circle-check {
    color: white;
    display: flex;
    align-items: center;
  }
  /* Partie Restaurant */
  .card-page-menu {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 21px 0px;
  }
  .img-page-menu {
    width: 100%;
    object-fit: cover;
  }
  h3 {
    color: black;
    margin: 0px;
  }
  .card-menu__byline {
    color: grey;
    text-align: left;
    margin: 0px;
    font-size: 19px;
  }
  i.fa-arrow-left {
    margin-right: 20px;
    color: black;
    font-size: x-large;
    position: relative;
    left: -150%;
  }
  .btn-command {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    height: 64px;
    border: 0px;
    padding: 18px 51px;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    color: #ffffff;
    border-radius: 35px;
    font-size: 20px;
    justify-content: center;
    box-shadow: 2px 2px 10px 2px rgb(220, 217, 217);
  }
}
/* Declaration initiale */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  /* box-sizing est appliqué à tous les éléments */
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* Création du loader */
  .loading {
    background-color: #e4d5f6;
    opacity: 0.9;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 1;
    animation: time 200ms forwards;
    animation-delay: 3s;
    transform-origin: middle;
  }
  .loader {
    border-top: 10px solid #9356DC;
    border-left: 10px solid #FF79DA;
    border-bottom: 10px solid #99E2D0;
    border-right: 10px solid grey;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite forwards;
    /* Placement du loader au milieu de la page */
    margin: auto;
    position: absolute;
    inset: 0;
  }
  body {
    background: #f6f6f6;
    font-family: "Roboto", sans-serif;
    width: auto;
    overflow-x: hidden;
    margin: 0px;
  }
  /* Bloc logo + recherche ville */
  .logo {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  img {
    height: auto;
  }
  .bloc-grey {
    height: auto;
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 10px;
  }
  #icone-gps {
    display: inline-block;
    text-align: center;
    margin-right: 13px;
    font-size: 22px;
  }
  #champs-recherche {
    border: 0px;
    background: #eaeaea;
    font-size: 22px;
  }
  /* En-tête */
  h1 {
    color: black;
    text-align: center;
    font-size: 33px;
    margin: 0px;
    padding-top: 40px;
  }
  .intro {
    text-align: center;
    font-size: 20px;
    margin: 18px 20px;
  }
  .top-part {
    height: auto;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
  }
  .anim {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    border: none;
    box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.33);
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }
  button:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
  .explorer {
    width: auto;
    border: 0px;
    padding: 19px 25px;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    color: #ffffff;
    border-radius: 35px;
    font-size: 20px;
  }
  /* Partie Fonctionnement */
  .function-part {
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
  }
  h2 {
    color: black;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 50px;
  }
  .btn-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    text-decoration: none;
  }
  .circle {
    background-color: #9356DC;
    color: white;
    border-radius: 14px;
    height: 28px;
    width: 28px;
    text-align: center;
    padding-top: 5px;
    font-weight: lighter;
    position: absolute;
    left: 8%;
    font-size: smaller;
  }
  .fa-solid {
    margin-right: 10px;
    color: grey;
  }
  .btn-function {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 64px;
    width: 80%;
    padding: 17px;
    background: #f6f6f6;
    color: black;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 2px 2px 10px 2px rgb(220, 217, 217);
  }
  .btn-function:hover {
    background-color: #e4d5f6;
  }
  .btn-function:hover i {
    color: #9356DC;
  }
  /* Partie Restaurant */
  .restaurant-part {
    height: auto;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
  }
  .card-menu {
    background-color: white;
    height: auto;
    border-radius: 16px;
    padding-bottom: 20px;
    margin: 20px;
    box-shadow: 2px 2px 10px 2px rgb(220, 217, 217);
  }
  .card-menu .card-menu__top {
    display: flex;
  }
  .card-menu .card-menu__top .card-menu__image {
    width: 100%;
    height: 45.9vw;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
  }
  .new {
    background-color: #99E2D0;
    display: flex;
    height: 30px;
    align-items: center;
    padding: 10px;
    color: #32b091;
    position: absolute;
    right: 9%;
    margin-top: 10px;
  }
  .card-menu__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding-left: 10px;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h3 {
    color: black;
    margin: 0px;
  }
  .card-menu__byline {
    color: grey;
    text-align: left;
    margin: 0px;
    font-size: 19px;
  }
  /* coeur au survol */
  .card-menu__heart {
    position: relative;
  }
  .heart-empty {
    font-size: x-large;
    position: absolute;
    right: 20px;
    top: 20px;
    color: grey;
  }
  .heart-full {
    font-size: x-large;
    position: absolute;
    right: 10px;
    top: 20px;
    color: transparent;
    background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 500ms ease-in-out;
  }
  .heart-full:hover {
    opacity: 1;
  }
}
@media screen and (min-width: 767px) and (max-width: 1279px) {
  /* Bloc logo*/
  .logo {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* En-tête */
  .main-menu {
    height: auto;
    background: #f6f6f6;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    top: 250px;
    padding-bottom: 30px;
  }
  .top-part-menu {
    display: inline-block;
    position: absolute;
    justify-content: center;
  }
  .title-page-menu {
    color: black;
    font-family: "Shrikhand";
    font-size: 33px;
    padding: 13px 0px 0px 26px;
  }
  .rectangle-1 {
    animation: menu-animation 2s 200ms;
    animation-fill-mode: both;
  }
  .rectangle-2 {
    animation: menu-animation 2s 400ms;
    animation-fill-mode: both;
  }
  .rectangle-3 {
    animation: menu-animation 2s 600ms;
    animation-fill-mode: both;
  }
  .rectangle-4 {
    animation: menu-animation 2s 800ms;
    animation-fill-mode: both;
  }
  p.title-plate {
    font-size: 18px;
    margin: 5px 0px 0px 5px;
    font-weight: bold;
  }
  p.subtitle {
    font-size: 16px;
    margin: 5px 0px 0px 5px;
  }
  h3.title-plate {
    border-bottom: solid 3px #99E2D0;
    width: 10%;
    padding-bottom: 5px;
  }
  .title-plate {
    font-weight: lighter;
    margin-left: 24px;
    margin-top: 20px;
  }
  /* TEST*/
  .menu__global {
    margin-top: 19px;
    margin-left: 20px;
    width: 90%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 2px rgba(220, 217, 217, 0.5);
  }
  .menu__block {
    background-color: white;
    display: flex;
    overflow: hidden;
  }
  .menu__block:hover .check {
    margin-right: 0px;
  }
  .menu__block:hover i {
    animation: check-animation 500ms ease-in-out;
  }
  .menu__block-description {
    padding: 1rem;
    overflow: hidden;
  }
  .menu__block-description h3, .menu__block-description p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px;
  }
  .menu__block-right {
    display: flex;
    margin-left: auto;
  }
  .menu__price {
    display: flex;
    align-items: flex-end;
    font-weight: 900;
    margin: 0px;
    padding: 1rem;
  }
  .check {
    background-color: #99E2D0;
    margin-right: -55px;
    width: 55px;
    border-radius: 0px 15px 15px 0px;
    transition: margin-right 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fa-circle-check {
    color: white;
    display: flex;
    align-items: center;
  }
  /* Partie Restaurant */
  .card-page-menu {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 21px 0px;
  }
  .img-page-menu {
    width: 100%;
    object-fit: cover;
  }
  .card-menu__bottom {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h3 {
    color: black;
    margin: 0px;
  }
  .card-menu__byline {
    color: grey;
    text-align: left;
    margin: 0px;
    font-size: 19px;
  }
  i.fa-arrow-left {
    margin-right: 20px;
    color: black;
    font-size: x-large;
    position: relative;
    left: -150%;
  }
  .btn-command {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    height: 64px;
    border: 0px;
    padding: 18px 51px;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    color: #ffffff;
    border-radius: 35px;
    font-size: 20px;
    justify-content: center;
    box-shadow: 2px 2px 10px 2px rgb(220, 217, 217);
  }
}
/* Declaration initiale */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
  /* box-sizing est appliqué à tous les éléments */
}

@media screen and (min-width: 1280px) {
  /* Création du loader */
  .loading {
    background-color: #e4d5f6;
    opacity: 0.9;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 1;
    animation: time 200ms forwards;
    animation-delay: 3s;
    transform-origin: middle;
  }
  .loader {
    border-top: 10px solid #9356DC;
    border-left: 10px solid #FF79DA;
    border-bottom: 10px solid #99E2D0;
    border-right: 10px solid grey;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite forwards;
    /* Placement du loader au milieu de la page */
    margin: auto;
    position: absolute;
    inset: 0;
  }
  body {
    background: #f6f6f6;
    font-family: "Roboto", sans-serif;
    width: auto;
    overflow-x: hidden;
    margin: 0px;
  }
  /* Bloc logo + recherche ville */
  .logo {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  img {
    height: auto;
  }
  .bloc-grey {
    height: auto;
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding: 10px;
  }
  #icone-gps {
    display: inline-block;
    text-align: center;
    margin-right: 13px;
    font-size: 22px;
  }
  #champs-recherche {
    border: 0px;
    background: #eaeaea;
    font-size: 22px;
  }
  /* En-tête */
  h1 {
    color: black;
    text-align: center;
    font-size: 33px;
    margin: 0px;
    padding-top: 40px;
  }
  .intro {
    text-align: center;
    font-size: 20px;
    margin: 18px 20px;
  }
  .top-part {
    height: auto;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
  }
  .anim {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button {
    border: none;
    box-shadow: -1px 3px 22px 5px rgba(0, 0, 0, 0.33);
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
  }
  button:hover {
    transform: scale(1.05);
    opacity: 0.9;
  }
  .explorer {
    width: auto;
    border: 0px;
    padding: 19px 25px;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    color: #ffffff;
    border-radius: 35px;
    font-size: 20px;
  }
  /* Partie Fonctionnement */
  .function-part {
    height: auto;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 40px;
  }
  h2 {
    color: black;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 50px;
  }
  .btn-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  a {
    text-decoration: none;
  }
  .circle {
    background-color: #9356DC;
    color: white;
    border-radius: 14px;
    height: 28px;
    width: 28px;
    text-align: center;
    padding-top: 5px;
    font-weight: lighter;
    font-size: smaller;
    margin-left: -27%;
    position: absolute;
  }
  .fa-solid {
    margin-right: 10px;
    color: grey;
  }
  .btn-function {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 80%;
    padding: 17px;
    background: #f6f6f6;
    color: black;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 2px 2px 10px 2px rgb(220, 217, 217);
  }
  .btn-function:hover {
    background-color: #e4d5f6;
  }
  .btn-function:hover i {
    color: #9356DC;
  }
  .desktop-function-part {
    display: flex;
    justify-content: space-evenly;
  }
  /* Partie Restaurant */
  .desktop {
    display: flex;
    flex-direction: row;
  }
  .restaurant-part {
    height: auto;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .card-menu {
    background-color: white;
    width: 50%;
    height: auto;
    border-radius: 16px;
    padding-bottom: 20px;
    margin: 20px;
    box-shadow: 2px 2px 10px 2px rgb(220, 217, 217);
  }
  .card-menu .card-menu__top {
    display: flex;
    justify-content: flex-end;
  }
  .card-menu .card-menu__top .card-menu__image {
    width: 100%;
    height: 24.9vw;
    border-radius: 16px 16px 0px 0px;
    object-fit: cover;
  }
  .new {
    background-color: #99E2D0;
    display: flex;
    height: 30px;
    align-items: center;
    padding: 10px;
    color: #32b091;
    position: absolute;
    margin-right: 20px;
    margin-top: 10px;
  }
  .card-menu__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding-left: 10px;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h3 {
    color: black;
    margin: 0px;
  }
  .card-menu__byline {
    color: grey;
    text-align: left;
    margin: 0px;
    font-size: 19px;
  }
  /* coeur au survol */
  .card-menu__heart {
    position: relative;
  }
  .heart-empty {
    font-size: x-large;
    position: absolute;
    right: 20px;
    top: 20px;
    color: grey;
  }
  .heart-full {
    font-size: x-large;
    position: absolute;
    right: 10px;
    top: 20px;
    color: transparent;
    background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 500ms ease-in-out;
  }
  .heart-full:hover {
    opacity: 1;
  }
}
@media screen and (min-width: 1280px) {
  /* Bloc logo*/
  .logo {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* En-tête */
  .main-menu {
    height: auto;
    background: #f6f6f6;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    top: 250px;
    padding-bottom: 30px;
  }
  .top-part-menu {
    display: block;
    justify-content: center;
    margin-bottom: -335px;
  }
  .title-page-menu {
    color: black;
    font-family: "Shrikhand";
    font-size: 33px;
    padding: 13px 0px 0px 26px;
  }
  .rectangle-1 {
    animation: menu-animation 2s 200ms;
    animation-fill-mode: both;
  }
  .rectangle-2 {
    animation: menu-animation 2s 400ms;
    animation-fill-mode: both;
  }
  .rectangle-3 {
    animation: menu-animation 2s 600ms;
    animation-fill-mode: both;
  }
  .rectangle-4 {
    animation: menu-animation 2s 800ms;
    animation-fill-mode: both;
  }
  p.title-plate {
    font-size: 18px;
    margin: 5px 0px 0px 5px;
    font-weight: bold;
  }
  p.subtitle {
    font-size: 16px;
    margin: 5px 0px 0px 5px;
  }
  h3.title-plate {
    border-bottom: solid 3px #99E2D0;
    width: 10%;
    padding-bottom: 5px;
  }
  .title-plate {
    font-weight: lighter;
    margin-left: 24px;
    margin-top: 20px;
  }
  /* TEST*/
  .menu__global {
    margin-top: 19px;
    margin-left: 20px;
    width: 90%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 2px rgba(220, 217, 217, 0.5);
  }
  .menu__block {
    background-color: white;
    display: flex;
    overflow: hidden;
  }
  .menu__block:hover .check {
    margin-right: 0px;
  }
  .menu__block:hover i {
    animation: check-animation 500ms ease-in-out;
  }
  .menu__block-description {
    padding: 1rem;
    overflow: hidden;
  }
  .menu__block-description h3, .menu__block-description p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px;
  }
  .menu__block-right {
    display: flex;
    margin-left: auto;
  }
  .menu__price {
    display: flex;
    align-items: flex-end;
    font-weight: 900;
    margin: 0px;
    padding: 1rem;
  }
  .check {
    background-color: #99E2D0;
    margin-right: -55px;
    width: 55px;
    border-radius: 0px 15px 15px 0px;
    transition: margin-right 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fa-circle-check {
    color: white;
    display: flex;
    align-items: center;
  }
  /* Partie Restaurant */
  .menu_desktop {
    display: flex;
    justify-content: space-between;
  }
  .column_desktop {
    width: 30%;
  }
  .card-page-menu {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 21px 0px;
  }
  .img-page-menu {
    width: 100%;
    object-fit: cover;
    max-height: 500px;
  }
  .card-menu__bottom {
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h3 {
    color: black;
    margin: 0px;
  }
  .card-menu__byline {
    color: grey;
    text-align: left;
    margin: 0px;
    font-size: 19px;
  }
  i.fa-arrow-left {
    margin-right: 20px;
    color: black;
    font-size: x-large;
    position: relative;
    left: -150%;
  }
  .btn-command {
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    height: 64px;
    border: 0px;
    padding: 18px 51px;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    color: #ffffff;
    border-radius: 35px;
    font-size: 20px;
    justify-content: center;
    box-shadow: 2px 2px 10px 2px rgb(220, 217, 217);
  }
}
/* Footer */
.footer-grey {
  background-color: #353535;
  height: auto;
  padding-bottom: 15px;
  position: relative;
  top: 250px;
}
.footer-grey ul {
  list-style: none;
  padding-left: 20px;
}
.footer-grey a {
  padding: 0px 0px 7px 0px;
  display: block;
  text-decoration: none;
  color: white;
}

h4 {
  color: white;
  font-family: "Shrikhand";
  margin: 0px 20px;
  padding-top: 20px;
}

.fa-utensils {
  margin-right: 10px;
  color: white;
}

.fa-handshake-angle {
  margin-right: 10px;
  color: white;
}

/*# sourceMappingURL=main.css.map */
