@media screen and (min-width: 767px)and (max-width: 1279px){

img {
    width: 40%;
    height: auto;
}

/* Partie Restaurant */

.card-menu__bottom{
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}