@media screen and (max-width: 767px){

/* Bloc logo*/
.logo{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* En-tête */

.main-menu{
    height: auto;
    background: #f6f6f6;
    border-radius: 50px 50px 0px 0px;
    position: relative;
    top:250px;
    padding-bottom: 30px;
}

.top-part-menu{
    display: block;
    justify-content: center;
    margin-bottom: -300px;
}

.title-page-menu{
    color: black;
    font-family: "Shrikhand";
    font-size: 33px;
    padding: 13px 0px 0px 26px;
}

.rectangle-1{
    animation: menu-animation 2s 200ms;
    animation-fill-mode: both;
}

.rectangle-2{
    animation: menu-animation 2s 400ms;
    animation-fill-mode: both;
}

.rectangle-3{
    animation: menu-animation 2s 600ms;
    animation-fill-mode: both;
}

.rectangle-4{
    animation: menu-animation 2s 800ms;
    animation-fill-mode: both;
}

p.title-plate{
    font-size: 18px;
    margin: 5px 0px 0px 5px;
    font-weight: bold;
}


p.subtitle{
    font-size: 16px;
    margin: 5px 0px 0px 5px;
}

h3.title-plate{
    border-bottom: solid 3px $color-tertiary;
    width: 10%;
    padding-bottom: 5px;
}

.title-plate{
    font-weight: lighter;
    margin-left: 24px;
    margin-top:20px;
}

/* TEST*/
.menu__global{
    margin-top: 19px;
    margin-left: 20px;
    width: 90%;
    overflow: hidden;
    border-radius: 15px;
    @include shadow-plate;
}

.menu__block{
    background-color: white;
    display: flex;
    overflow: hidden;
    &:hover .check{
        margin-right: 0px;
    }
    &:hover i{
        animation: check-animation 500ms ease-in-out;
    }
}

.menu__block-description{
    padding: 1rem;
    overflow: hidden;
    h3, p{ 
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0px;
    }
}

.menu__block-right{
    display: flex;
    margin-left: auto;
}

.menu__price{
    display: flex;
    align-items: flex-end;
    font-weight: 900;
    margin: 0px;
    padding: 1rem;
}

.check{
    background-color: $color-tertiary;
    margin-right: -55px;
    width: 55px;
    border-radius: 0px 15px 15px 0px;
    transition: margin-right 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-circle-check{
    color: white;
    display: flex;
    align-items: center;
}

/* Partie Restaurant */

.card-page-menu{
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 21px 0px;
}

.img-page-menu{
    width: 100%;
    object-fit: cover;
    max-height: 300px;
}

h3{
    color:black;
    margin: 0px;
}

.card-menu__byline{
    color:grey;
    text-align: left;
    margin: 0px;
    font-size: 19px;
}

i.fa-arrow-left{
    margin-right: 20px;
    color: black;
    font-size:x-large;
    position: relative;
    left: -150%;
}

.btn-command{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    height: 64px;
    border: 0px;
    padding: 18px 51px;
    background: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);
    color: #ffffff;
    border-radius: 35px;
    font-size: 20px;
    justify-content: center;
    @include shadow;
}

}