@media screen and (min-width: 1280px){

img {
    width: 35%;
    height: auto;
}

/* Partie Restaurant */

.menu_desktop{
    display: flex;
    justify-content: space-between;
}

.column_desktop{
    width: 30%;
}
/* Partie Restaurant */

.card-menu__bottom{
    margin-left: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

}