/* Error: expected "{".
 *   ,
 * 3 | $light-color-primary:lighten(#9356DC,30%);
 *   |                                          ^
 *   '
 *   sass/Utils/_variable.scss 3:42  @import
 *   sass/main.scss 9:9              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 3 \2502  $light-color-primary:lighten(#9356DC,30%);\a   \2502                                           ^\a   \2575 \a   sass/Utils/_variable.scss 3:42  @import\a   sass/main.scss 9:9              root stylesheet';
}
